button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
label {
  display: block;
  margin: 0.75rem 0;
}
input {
  display: block;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  outline: none;
  width: 100%;
  margin: 0.25rem 0;
}
input:focus {
  border-color: #146eeb;
}
button {
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0.025rem;
  border: none;
  border-radius: 0.25rem;
  border: 1px solid #aaa;
  background-color: transparent;
  color: #444;
  outline: none;
  text-decoration: none;
  user-select: none;
  width: auto;
  height: auto;
  margin: 0 0.5rem 0.75rem 0;
}
button:hover,
button:focus {
  border-color: #555;
  color: #000;
}
button:disabled {
  background: #f0f0f0;
  cursor: not-allowed;
  color: #aaa;
  border-color: #ccc;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
